TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/entity/**/*.ts
TYPEORM_MIGRATIONS=src/migration/**/*.ts
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_DRIVER_EXTRA={"ssl": true}

NODE_ENV=development

SESSION_TIMEOUT=1800000
SERVER_PORT=3000